.btn {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 50px;
    padding-left: 8px;
    font-family: Poppins, serif;
    font-size: 17px;
    background-color: #00A11A;
    font-weight: bold;
}