.header
{
    display: flex;
    justify-content: space-between;
    border: 5px solid black;

}

p
{
    border: 5px solid teal;
    padding: 10px;
}

img
{
    width: 120px;
    height: 80px;
}

.homeButtonImg
{
    width: 50px;
    height: 50px;
    padding: 15px;
}

.formOutline
{
    border: 5px solid red;
    margin: 100px 25% 50px 25%;
    padding: 50px;
    text-align: center;
    width: 50%;
    height: 50%
}
