/*Header*/
.header
{
    display: flex;
    justify-content: space-between;
    border: 5px solid black;
    margin-bottom: 20px;
    background-color: beige;

}

p
{
    border: 5px solid teal;
    padding: 10px;
}

img
{
    width: 120px;
    height: 80px;
}

.homeButtonImg
{
    width: 50px;
    height: 50px;
    padding: 15px;

}

/*Sub Header*/
.subHeader
{
    display: flex;
    justify-content: space-around;
    border: 3px solid black;
    margin-bottom: 40px;
    background-color: beige
}

.subHeader1
{
    flex: 50%;
    direction: flex;
    text-align: center;
}

.subheader2
{
    flex: 50%;
    border-left: 5px solid black;
    text-align: center;
}

/*Table section*/
.tableSection
{
    display: flex;
    justify-content: space-around;
    overflow-y: auto;
    height: 470px;
}

.tableSection{
    position: sticky;
    top: 0;
}

thead{
    position: sticky;
    top: 0;
}

th
{
    position: sticky;
    top: 0;
    background: #ABDD93;
}

th, td
{
    padding: 20px;
    border: 2px solid black;
}

td{
    text-align: center;
}

tr:hover 
{
    background-color: coral;
}

tr:nth-child(even)
{
    background-color: #f2f2f2;
}

table
{
    border: 2px solid black;
    border-collapse: collapse;
    background-color: beige;
    width: 60%;
}


