/* Navigation bar */
.top {
    width: 100%;
    background-color: white;
    overflow: hidden;
    height: 70px;
    font-family: Poppins, serif;
}

.top a {
    float: left;
    color: black;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
}

.ntsf {
    padding-top: 15px;
}

.logo {
    float: left;
    width: 125px;
    max-height: max-content;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 30px;
}

.container header {
    color: black;
    font-size: 28px;
    position: relative;
}

.home {
    float: right;
    padding-right: 30px;
}

.driver {
    font-size: 32px;
    font-weight: bold;
    float: inline-end;

}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70px;
    align-items: center;
    /* align-items: stretch; */
    /* align-items: baseline; */
    /* flex-wrap: wrap;
    align-content: space-between; */
    justify-content: center;
    align-items: center;
}


/* Login form */
body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: Poppins, serif;
    font-size: 17px;
    font-weight: bold;
}

.container {
    margin-top: 50px;
    width: 300px;
    overflow: hidden;
    margin: auto;
    /* margin: 20 0 0 450px; */
    padding: 50px;
    background: #ffffff;
    /* border-color: #068488;
    border-radius: 15px; */
}

h2 {
    text-align: center;
    color: black;
}

label {
    font-size: 17px;
    color: black;
}

#otp {
    width: 300px;
    height: 30px;
    border: none;
    border: 2px solid black;
    /* border-radius: 3px; */
    padding-left: 8px;
    font-family: Poppins, serif;
}

#submit-btn {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 50px;
    padding-left: 8px;
    font-family: Poppins, serif;
    font-size: 17px;
    background-color: #00A11A;
    font-weight: bold;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: Poppins, serif;
    font-size: 15px;
}